header {
    background-color: #FAF2E6;
    display: flex;
    flex-direction: column;
    max-width: 13vw;
    border: 1px solid rgba(32, 85, 41, 0.1);
}

li {
    color: #205529;
    font-family: "Instrument Serif";
    font-size: 24px;
    font-weight: 400;
}

.p {
    color: #205529;
    font-family: "Pontano Sans";
    font-weight: 500;
    font-size: 12px;
}

.h1 {
    color: #205529;
    font-family: "Instrument Serif";
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    padding: 0 0 24px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border: 1px solid rgba(32, 85, 41, 0.1);
}

.contact1 {
    background-color: #f3ede0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style: none;
}
